html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
  margin: 0;

}

*, *::before, *::after {
  box-sizing: inherit;

}

body {
  margin: 0;
}

.link-card {
  display: block;
  text-decoration: none;
  border: 3px;
  border: solid;
  margin: 0 0 1rem;
  padding: 1rem;
  background-color: #dcd4cd;
  border-color: #9a816d;
  border-radius: 3px;

}

.link-card:hover{
  background-color: #cabdb2;
}

.link-card:hover .btn {
  background-color: #512200;
}

p {
  color: #512200;
  font-size: 1rem;
  font-family: georgia, serif;
  margin: 0;

}

.link-card h2 {
  font-size: 1.5rem;
  color: #512200;
  font-family: Dosis, serif;
  margin: 0;

}

dl {
  color: #512200;
  line-height: 1rem;
  font-size: .875rem;
  border-bottom: 2px solid #9a816d;
  border-top: 2px solid #9a816d;
  padding: 1rem 0;


}

dt {
  font-family: georgia, serif;
  display: inline-block;
  width: 25%;

}

dd {
  font-family: Georgia, serif;
  font-style: italic;
  display: inline-block;
  width: 50%;
}

.btn {
  color: #fff;
  border-radius: 8px;
  background-color: #785439;
  font-family: Dosis, sans-serif;
  font-weight: bold;
  padding: .4em .75em .5em;
  display: inline-block;
  font-size: 1.125rem;
}



div {
  text-align: center;
}
